<template>

  <div class="container-fluid">

    <top-bar></top-bar>

    <div class="row">
      <div class="col-lg-12">
          <router-link to="/albums">
             < Back to Albums 
          </router-link>
      </div>
    </div>

    <div class="row">

      <form 
      accept-charset="UTF-8" 
      role="form"
      class="panel col-lg-6 mx-auto" 
      >

        <div class="form-group">

          <div class="input-group">

            <div class="input-group-prepend">
              <label class="input-group-text" for="artist">Artist</label>
            </div>

            <select 
            name="artist"
            v-model="artist_id"  
            v-validate="'required'" 
            class="custom-select" 
            id="artist"
            >
              <option :value="null">Select the artist...</option>

              <option v-for="artist in artists" :value="artist.id" :key="artist.id">
                {{ artist.name }}
              </option>

            </select>

          </div>

          <div class="vee-error" v-show="errors.has('artist')">
            {{ errors.first('artist') }}
          </div>

        </div>

        <div class="form-group">

          <label for="name">
              Album Name
          </label>

          <input 
          type="text" 
          name="name" 
          v-validate="'required'" 
          v-model="name"
          class="form-control" 
          id="name"
          >

          <div class="vee-error" v-show="errors.has('name')">
            {{ errors.first('name') }}
          </div>

        </div>

        <div class="form-group">

          <label for="year">
              Album Year
          </label>

          <input 
          type="text" 
          name="year" 
          v-validate="'required'" 
          v-model="year" 
          class="form-control" 
          id="year"
          >

          <div class="vee-error" v-show="errors.has('year')">
            {{ errors.first('year') }}
          </div>

        </div>

        <btn-submit :sending-form="sendingForm" ></btn-submit>

      </form>

    </div>

    <notifications position="bottom right" />

  </div>

</template>

<script>

import TopBar from './TopBar.vue';
import BtnSubmit from './BtnSubmit.vue';
import api from '../support/api';

export default{

  components: {
    TopBar,
    BtnSubmit
  },

  beforeRouteEnter(to, from, next) {
    if (to.name === 'albumCreate') {
      api.fetchArtists(next);
    } else {
      api.fetchAlbum(to, next);
    }
  },

  beforeDestroy() {
    bus.$off(['album/validateForm', 'album/formSubmitted']);
  },

  created() {

    bus.$on('album/validateForm', () => {
      this.validateBeforeSubmit();
    });

    bus.$on('album/formSubmitted', () => {

      this.$validator.reset();
      this.sendingForm = false;

      Vue.notify({
        type: 'success',
        text: 'Album saved!',
      });

      if(this.$route.name === 'albumCreate') {
        this.artist_id = null;
        this.name = '';
        this.year = '';
      }

    });
  },

  data() {

    return {
      sendingForm: false,

      id: null,

      artist_id: null,

      name: '',
      year: '',

      artists: [],

    };
  },

  methods: {

    validateBeforeSubmit() {

      let vm = this;

      this.$validator.validateAll().then(result => {
        if (result) {

          this.sendingForm = true;

          let params = {artist_id: this.artist_id, name: this.name, year: this.year};

          if(this.$route.name === 'albumCreate') {
            api.storeAlbum(params);
          } else {
            api.updateAlbum(vm, params);
          }

        }
      });
    },

  },

};

</script>
