<template>

    <button
    @click.prevent="validateForm()"
    :disabled="sendingForm"
    class="btn btn-action ml-0"
    >

      <i
      v-show="sendingForm"
      class="fa fa-circle-notch fa-spin fa-fw">
      </i>

      <span>{{labelBtnSubmit}}</span>

    </button>

</template>

<script>

export default {

  props: ['sendingForm'],

  methods: {

    validateForm(){
      bus.$emit('album/validateForm');
    }

  },

  computed: {

    labelBtnSubmit(){
      return this.sendingForm ? 'Wait...' : 'Save';
    }

  }

};

</script>
