<template>

  <div class="row">

    <div class="col-lg-12">

      <div class="top-bar">

        <h2 class="top-bar__title">
          <i class="fa fa-headphones" aria-hidden="true"></i>
          Album
        </h2>

      </div>

    </div>

  </div>

</template>