<template>

  <div class="container-fluid">

    <top-bar></top-bar>

    <!-- we have some artists -->
    <div v-show="showArtistsList" class="row">
      <div class="col-lg-12 table-responsive">
        <table class="table table-striped">

          <thead>

            <tr>

              <th>Artist Name <small>(in alphabetical order)</small></th>

              <th>Twitter Handle</th>

              <th></th>

            </tr>

          </thead>

          <tbody>

            <tr v-for="artist in artists" :key="artist.id">

              <td>
                {{artist.name}}
              </td>

              <td>
                 {{artist.twitter_handle}}
              </td>

              <td>

                <router-link :to="{path: `artist/${artist.id}/edit`}" class="btn btn-sm">
                  <i class="far fa-edit"></i>
                </router-link>

                <a 
                href="#" 
                @click.prevent="confirmDelete(artist)"
                class="btn btn-sm"
                >
                  <i class="far fa-trash-alt"></i>
                </a>
              </td>

            </tr>

          </tbody>

        </table>
      </div>
    </div>

    <!-- we don't have artists -->
    <div v-show="!showArtistsList" class="row">
      <div class="col-lg-12">
        <div class="alert alert-info" role="alert">
          No artists found :/
        </div>
      </div>
    </div>

    <notifications position="bottom right" />

  </div>

</template>

<script>

import TopBar from './TopBar.vue';
import api from '../support/api';

export default{

  components: {
    TopBar,
  },

  beforeRouteEnter(to, from, next) {
    api.fetchArtists(next);
  },

  data() {
    return {
      artists: [],
    };
  },

  methods: {

    confirmDelete(artist) {
      let vm = this;

      swal({
        title: 'Are you sure?',
        text: "Do you really want to delete this artist? \n All the albums of this artist will also be deleted...",
        icon: 'warning',
        buttons: {
          cancel: 'Cancel',
          catch: {
            text: 'Yes, delete',
          },
        },
      })
      .then((confirmed) => {
        if (confirmed) {
          api.deleteArtist(vm, artist);
        }
      });
    },

  },

  computed: {

    showArtistsList(){
      return this.artists.length > 0;
    }
  }

};

</script>
