<template>

  <div class="row">

    <div class="col-lg-12">

      <div class="top-bar">

        <h2 class="top-bar__title">
          <i class="fa fa-music" aria-hidden="true"></i>
          Artists
        </h2>

        <div class="top-bar__toolbox d-md-block">

          <router-link to="/artist/create" class="top-bar__btn">
             Add New Artist
          </router-link>

        </div>

      </div>

    </div>

  </div>

</template>
