<template>

  <div class="container-fluid">

    <top-bar></top-bar>

    <!-- we have some albums -->
    <div v-show="showAlbumsList" class="row">
      <div class="col-lg-12 table-responsive">
        <table class="table table-striped">

          <thead>

            <tr>

              <th>Album Name <small>(in alphabetical order)</small></th>

              <th>Artist</th>

              <th>Album Year</th>

              <th></th>

            </tr>

          </thead>

          <tbody>

            <tr v-for="album in albums" :key="album.id">

              <td>
                {{album.name}}
              </td>

              <td>
                {{album.artist.name}}
              </td>

              <td>
                 {{album.year}}
              </td>

              <td>

                <router-link :to="{path: `album/${album.id}/edit`}" class="btn btn-sm">
                  <i class="far fa-edit"></i>
                </router-link>

                <a 
                href="#" 
                @click.prevent="confirmDelete(album)"
                class="btn btn-sm"
                >
                  <i class="far fa-trash-alt"></i>
                </a>
              </td>

            </tr>

          </tbody>

        </table>
      </div>
    </div>

    <!-- we don't have albums -->
    <div v-show="!showAlbumsList" class="row">
      <div class="col-lg-12">
        <div class="alert alert-info" role="alert">
          No albums found :/
        </div>
      </div>
    </div>

    <notifications position="bottom right" />

  </div>

</template>

<script>

import TopBar from './TopBar.vue';
import api from '../support/api';

export default{

  components: {
    TopBar,
  },

  beforeRouteEnter(to, from, next) {
    api.fetchAlbums(next);
  },

  data() {
    return {
      albums: [],
    };
  },

  methods: {

    confirmDelete(album) {
      let vm = this;

      swal({
        title: 'Are you sure?',
        text: 'Do you really want to delete this album?',
        icon: 'warning',
        buttons: {
          cancel: 'Cancel',
          catch: {
            text: 'Yes, delete',
          },
        },
      })
      .then((confirmed) => {
        if (confirmed) {
          api.deleteAlbum(vm, album);
        }
      });
    },

  },

  computed: {

    showAlbumsList(){
      return this.albums.length > 0;
    }
  }

};

</script>
