<template>

  <div class="row">

    <div class="col-lg-12">

      <div class="top-bar">

        <h2 class="top-bar__title">
          <i class="fa fa-headphones" aria-hidden="true"></i>
          Albums
        </h2>

        <div class="top-bar__toolbox d-none d-md-block">

          <router-link to="/album/create" class="top-bar__btn">
             Add New Album
          </router-link>

        </div>

      </div>

    </div>

  </div>

</template>
