<template>

  <div class="container-fluid">

    <top-bar></top-bar>

    <div class="row">
      <div class="col-lg-12">
          <router-link to="/artists">
             < Back to Artists 
          </router-link>
      </div>
    </div>

    <div class="row">

      <form 
      accept-charset="UTF-8" 
      role="form"
      class="panel col-lg-6 mx-auto" 
      >

        <div class="form-group">

          <label for="name">
              Artist Name
          </label>

          <input 
          type="text" 
          name="name" 
          v-validate="'required'" 
          v-model="name"
          class="form-control" 
          id="name"
          >

          <div class="vee-error" v-show="errors.has('name')">
            {{ errors.first('name') }}
          </div>

        </div>

        <div class="form-group">

          <label for="twitter_handle">
              Twitter Handle
          </label>

          <input 
          type="text" 
          name="twitter_handle" 
          v-validate="'required'" 
          v-model="twitter_handle" 
          class="form-control" 
          id="twitter_handle"
          >

          <div class="vee-error" v-show="errors.has('twitter_handle')">
            {{ errors.first('twitter_handle') }}
          </div>

        </div>

        <btn-submit :sending-form="sendingForm" ></btn-submit>

      </form>

    </div>

    <notifications position="bottom right" />

  </div>

</template>

<script>

import TopBar from './TopBar.vue';
import BtnSubmit from './BtnSubmit.vue';
import api from '../support/api';

export default{

  components: {
    TopBar,
    BtnSubmit
  },

  beforeRouteEnter(to, from, next) {
    if (to.name === 'artistCreate') {
      next((vm) => {
        vm.name = '';
        vm.twitter_handle = '';
      });
    } else {
      api.fetchArtist(to, next);
    }
  },

  beforeDestroy() {
    bus.$off(['artist/validateForm', 'artist/formSubmitted']);
  },

  created() {

    bus.$on('artist/validateForm', () => {
      this.validateBeforeSubmit();
    });

    bus.$on('artist/formSubmitted', () => {

      this.$validator.reset();
      this.sendingForm = false;

      Vue.notify({
        type: 'success',
        text: 'Artist saved!',
      });

      if(this.$route.name === 'artistCreate') {
        this.name = '';
        this.twitter_handle = '';
      }
      //  else {
      //   window.setTimeout(() => {
      //     this.$router.push('/artists');
      //   }, 2000);
      // }

    });
  },

  data() {
    return {
      sendingForm: false,

      id: null,

      name: '',
      twitter_handle: '',
    };
  },

  methods: {

    validateBeforeSubmit() {

      console.log('validating');

      let vm = this;

      this.$validator.validateAll().then(result => {
        if (result) {

          this.sendingForm = true;

          let params = {name: this.name, twitter_handle: this.twitter_handle};

          if(this.$route.name === 'artistCreate') {
            api.storeArtist(params);
          } else {
            api.updateArtist(vm, params);
          }

        }
      });
    },

  },

};

</script>
