.btn>i{pointer-events:none}ol,ul{margin:0;padding:0;list-style:none}body,html{background-color:#fff;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.redactor img{max-width:100%;height:auto;margin:10px auto}.top-hero{max-height:50vh}.footer-social{font-size:2em}.inicial__titulo{color:red}
/*# sourceMappingURL=app.css.map*/