.login__body {
    margin-top: 0;
    text-align: center;
    background: #f5f5f5;
}

.login__container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    // background: orange;
}

.login__box {
    width: 40%;
    // background: yellow;
}

.login__icon {
    font-size: 4em;
    margin-bottom: 30px;
    color: #563D7C;
}

.login__required-icon {
    color: red;
}

.login__btn-submit {
    @extend .btn-action;
  
    float: none;
  
    &:hover {
      cursor: pointer;
    }
  }