// menu toogle
.menu-toggle-btn {
    display: block;
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 1001;
    color: #0078bd;
    border-color: #ebeef0;
    background: #fff;
}

.menu-container {
    z-index: 1000;
    position: fixed;
    left: 277px;
    width: 277px;
    height: 100%;
    margin-left: -277px;
    overflow-y: auto;
    background: #000;
    top: 0;
    overflow: hidden;
    transition: all .5s ease;
}

.menu {
    position: fixed;
    width: 277px;
    height: 100%;
    background: #31373d;
}

.menu__top {
    padding: 14px 15px 13px 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    
    &:after {
        display: block;
        content: "";
        clear: both;
    }
}

.menu__logo {
    display: block;
    float: left;
    margin: 7px 0 0 10px;
    text-decoration: none;
    color: #fff;

    &:hover {
        color: #ccc;
        text-decoration: none;
    }
}

.menu__title {
    display: block;
    float: left;
    margin-left: 10px;
    padding-top: 6px;
    font-weight: 700;
    color: #fff;
    
    &:hover {
        color: #ccc;
        text-decoration: none;
        transition: all 150ms ease;
    }
}

.menu__icon {
    font-size: 16px;
    width: 16px;
    text-align: center;
    margin-right: 10px;
}

.menu__arrow-icon {
    float: right;
    margin: 5px 0 0 0;
}

.menu__link {
    display: block;
    padding: 10px 15px 10px 15px;
    color: #fff;
    text-decoration: none;
    background: #31373D;
    
    &:hover {
        color: #fff;
        text-decoration: none;
        background: #3c444b;
        transition: all 500ms ease-out;
    }
    
    &:visited {
        color: #fff;
        text-decoration: none;
    }
}

// context menu
.context-menu-container {
    position: absolute;
    left: 40px;
    width: 237px;
    height: 100%;
    background: #000;
}

.context-menu {
    position: absolute;
    top: 0;
    width: 100%;
    background: #000;
}

.context-menu__title {
    font-size: 1.20rem;
    color: #fff;
    padding: 18px 0 17px 8px;
    border-bottom: 1px solid #ccc;
}

.context-menu__title-icon {
    margin: 0 0 0 0;
}

.context-menu__btn-close {
    float: right;
    margin-right: 8px;
    color: #fff;
    
    &:hover {
        color: #fff;
    }
}

.context-menu__link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: transparent;
    
    &:hover {
        color: #fff;
        text-decoration: none;
        background: #3c444b;
        cursor: pointer;
        transition: all 500ms ease-out;
    }
    
    &:visited {
        color: #fff;
    }
}

.context-menu__link--active {
    background: #57636d;
}

// links
.menu__link--active {
    background: #000;
}

.slide-fade-enter-active {
    transition: all 0.2s ease;
}

.slide-fade-leave-active {
    transition: all 0.2s ease;
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translate3d(-30px, 0, 0);
    opacity: 0;
}

//content overlay
.content-overlay {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9989;
    pointer-events: auto;
}

// media queries
@media (min-width: 768px) {
    .menu-toggle-btn {
        display: none;
    }
    
    #wrapper {
        padding-left: 292px;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin: 0 0 0 70px;
    }
    
    .main-content__top {
        width: 100%;
        margin-left: 0;
    }
    
    .main-content__title {
        margin: 15px 0 15px 0px;
    }
    
    #wrapper {
        padding-left: 0;
    }
    
    #wrapper.toggled .content-overlay {
        display: block;
    }
    
    .menu-container {
        width: 0;
        left: -277px;
    }
    
    #wrapper.toggled .menu-container {
        width: 277px;
        left: 277px;
        z-index: 9999;
    }
}
