<template>

  <form 
  @submit.prevent="validateLogin"
  id="form-login"
  role="form"
  autocomplete="off"
  >

    <i class="login__icon fas fa-lock"></i>
    
    <h1>Account log in</h1>

    <hr />

    <div class="form-group">

        <label for="user" class="login-painel__label">
          Username<span class="login__required-icon">*</span>
        </label>

        <input
        type="text"
        name="username"
        v-model="username"
        v-validate="'required'"
        value=""
        class="form-control"
        autocapitalize="off"
        autocorrect="off"
        id="user">

        <div class="vee-error" v-show="errors.has('username')">
          {{ errors.first('username') }}
        </div>

    </div>

    <div class="form-group">

        <label for="password" class="login-painel__label">
          Password<span class="login__required-icon">*</span>
        </label>

        <input
        type="password"
        name="password"
        v-model="password"
        v-validate="'required|min:5'"
        value=""
        class="form-control"
        autocapitalize="off"
        autocorrect="off"
        id="password">

        <div class="vee-error" v-show="errors.has('password')">
          {{ errors.first('password') }}
        </div>

    </div>

    <div class="clearfix">

        <div v-show="errorMessage" class="alert alert-danger">
          {{errorMessage}}
        </div>

        <div class="form-group login-painel__container-submit">
            <input type="submit" :value="btnSubmitText" class="login__btn-submit" />
        </div>

    </div>

  </form>

</template>

<script>

import api from '../support/api';

export default {

  data() {

    return {

        username: '',

        password: '',

        errorMessage: false,

        btnSubmitText: 'Login'

      };

  },

  methods: {

    validateLogin() {

      this.$validator.validateAll().then(result => {
        if (result) {
          api.sendAuthRequest(this);
          return;
        }
      });

    },

  }

};

</script>
