<template>

  <div id="wrapper" :class="wrapperClass">

    <Menu></Menu>

    <div id="conteudo-principal">
        <router-view></router-view>
    </div>

  </div>

</template>

<script>

import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';
import Menu from '../../menu/components/Menu.vue'

export default{

  components: {
    Menu,
  },

  created() {
    window.bus.$on('menu/toggle', () => {
      window.setTimeout(() => {
        this.isOpenMobileMenu = !this.isOpenMobileMenu;
      }, 200);
    });
    window.bus.$on('menu/closeMobileMenu', () => {
      this.isOpenMobileMenu = false;
    });
  },

  data() {
    return {
      isOpenMobileMenu: false,
    };
  },

  computed: {

    ...mapState('master', {

      nomeProjeto: (state) => state.nomeProjeto,

    }),

    wrapperClass() {
      return {
        'toggled': this.isOpenMobileMenu === true,
      };
    },
  }
};

</script>
