/*================ layout styles ================*/
// IMPORTANTE: fix para botoes que utilizam icones font awesome
// Previne que os cliques sejam capturados quando se clica no icone e $(this),
// vira o elemento <i> ao inves do <a>
.btn > i {
  pointer-events: none;
}

// bootstrap resets
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

//elementos globais
body,
html {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//redactor imgs
.redactor img {
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}

.top-hero {
  max-height: 50vh;
}

.footer-social {
  font-size: 2em;
}