<template>

  <div>

    <MenuToggleBtn></MenuToggleBtn>

    <div class="menu-container">

      <!-- root level itens -->
      <ul class="menu">

        <li class="menu__top">
          <router-link to="/artists" class="menu__logo">
            <i class="menu__home-icon fas fa-play"></i>
            Music Collection App
          </router-link>
        </li>

        <li>
          <a
          href="#"
          @click.prevent="updateMenu('artists')"
          :class="highlightSection('artists')"
          >
              <i class="fa fa-music menu__icon" aria-hidden="true"></i>
              Artists
          </a>
        </li>

        <li>
          <a
          href="#"
          @click.prevent="updateMenu('albums')"
          :class="highlightSection('albums')"
          >
              <i class="fa fa-headphones menu__icon" aria-hidden="true"></i>
              Albums
          </a>
        </li>

        <li>
          <a
          href="#"
          @click.prevent="updateMenu('account')"
          :class="highlightSection('account')"
          >
            <i class="fa fa-user menu__icon" aria-hidden="true"></i>
            Account
            <i class="fa fa-chevron-right menu__arrow-icon" aria-hidden="true"></i>
          </a>
        </li>

      </ul>

      <!-- context menu: childs of root level itens -->
      <transition name="slide-fade">

        <div class="context-menu-container" v-show="showContextMenu">

          <ul class="context-menu">

            <li v-for="(item, index) in menuItens" :key="index">

              <h5 v-if="item.type === 'title'" class="context-menu__title">

                <i :class="item.icon" aria-hidden="true"></i>

                {{ item.txt }}

                <a
                v-if="index === 0"
                @click.prevent="closeContextMenu"
                class="context-menu__btn-close"
                href="#"
                >
                  <i class="fa fa-window-close" aria-hidden="true"></i>
                </a>

              </h5>

              <a
              v-else
              href="#"
              @click.prevent="openSection(item)"
              :class="subMenuClass(item.txt)"
              >
                {{ item.txt }}
              </a>

            </li>

          </ul>

        </div>

      </transition>

    </div>

    <ContentOverlay></ContentOverlay>

  </div>

</template>

<script>

import kebabCase from 'lodash/kebabCase';
import MenuToggleBtn from './MenuToggleBtn.vue';
import ContentOverlay from './ContentOverlay.vue';
import menuData from '../support/menu-data';

export default {
  name: "Menu",

  components: {
    MenuToggleBtn,
    ContentOverlay
  },

  mounted() {
    // this.highlightSection('artists');
  },

  data() {
    return {
      contextSection: "",

      menuItens: [],

      menuData: menuData,

      activeSubMenu: ""
    };
  },

  methods: {

    updateMenu(context) {
      this.contextSection = context;
      this.menuItens = this.menuData[context];

      if (!this.menuItens.length) {
        this.$router.push(`/${context}`);
        window.bus.$emit('menu/closeMobileMenu');
      }
    },

    highlightSection(section) {
      return {
        menu__link: true,
        "menu__link--active": section === this.contextSection
      };
    },

    subMenuClass(subMenuName) {
      return {
        "context-menu__link": true,
        "context-menu__link--active": this.activeSubMenu === subMenuName
      };
    },

    closeContextMenu() {
      this.contextSection = '';
      this.menuItens = [];
    },

    openSection(item) {
      this.activeSubMenu = item.txt;

      this.$router.push(this.getUrl(item));
      window.bus.$emit('menu/closeMobileMenu');
    },

    getUrl(item) {
      return `${item.link}`;
    }
  },

  computed: {
    showContextMenu() {
      return this.menuItens.length;
    }
  }
};
</script>
