//form inputs
.form-group {
  margin-bottom: 24px;
}

//usados no cadastro/login
.form-control {
  padding: 10px;
  border: $input-border;
  box-shadow: none;
}

input.error,
select.error,
textarea.error {
  border: 1px solid #a94442;
  background-color: #fff1f5;
}

.vee-error {
  font-size: .8rem;
  font-weight: 300;
  padding: 7px;
  color: #721c24;
  background-color: #f8d7da;
  border-radius: 3px;
}
