/*================ layout styles ================*/
// IMPORTANTE: fix para botoes que utilizam icones font awesome
// Previne que os cliques sejam capturados quando se clica no icone e $(this),
// vira o elemento <i> ao inves do <a>
.btn > i {
  pointer-events: none;
}

// bootstrap resets
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

//global elements
body,
html {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  padding-bottom: 50px;
  margin-top: 90px;
}

#nprogress .bar {
  height: 3px;
  color: #0078bd;
  // color: #874b4b error
}

.btn-action {
  padding: 10px 20px;
  margin: 8px 0 0 15px;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: $btn-action-color;
  background-color: $btn-action-background-color;
  border: none;
  border-radius: 3px;
  float: left;

  &:hover {
    text-decoration: none;
    color: $btn-action-color;
    background-color: darken($btn-action-background-color, 8%);
    border-color: inherit;
    cursor: pointer;
    transition: background-color 150ms ease;
  }
}

//Top Bar
.top-bar {
  position: fixed;
  top: 0;
  margin-left: -15px;
  width: calc(100% - 277px);
  height: 60px;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1000;
}

.top-bar__title {
  font-size: 1.4em;
  margin: 18px 0 0 20px;
  border-bottom: none;
  float: left;
}

.top-bar__toolbox {
  position: relative;
  float: right;
  margin-right: 30px;
}

.top-bar__btn {
  @extend .btn-action;
}

// .top-bar__btn-secundario {
//   @include btn-action($btn-action-discrete-color, $btn-action-discrete-background-color);

//   border: 1px solid #ebeef0;

//   &:hover {
//     border: 1px solid #ebeef0;
//   }
// }

.panel {
  padding: 20px;
  margin: 0 0 20px 0;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

//tabelas
.table {
  @extend .panel;
}

.table th {
  border-top: none;
}

.table > thead > tr > th {
  border-bottom: none;
}

.table > tbody > tr > td {
  padding: 10px;
  border-top: $table-td-border;
  vertical-align: middle;
}