/*================ types ================*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: $type-base-font-family;
  font-size: $type-base-font-size;
  font-weight: $type-base-font-weight;
  color: $type-base-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: $type-header-font-family;
  font-weight: $type-header-font-weight;
  color: $type-header-color;

}

