// Body
$body-bg: #f8fafc;

// Typography - Base
$type-base-font-family: "Nunito", sans-serif;
$type-base-font-size: 0.9rem;
$type-base-font-weight: 400;
$type-base-color: #6c757d;

// Typography - Headers
$type-header-font-family: "Nunito", sans-serif;
$type-header-font-weight: 700;
$type-header-color: #343a40;

// Forms
$input-border: 1px solid #ebeef0;

//Btns
$btn-action-color: #ffffff;
$btn-action-background-color: #0078bd;

//Tables
$table-td-border: 1px solid #ebeef0;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;